@font-face {
    font-family: 'SK Concretica';
    font-style: normal;
    font-weight: 400;
    src: local('SK Concretica'), url('https://fonts.cdnfonts.com/s/89585/sk-concretica-trial.woff') format('woff');
}
